@media (max-width: 1200px) {

    .container {
        max-width: 960px;
    }

    .best-card {
        width: 200px;
        height: 250px;
        overflow: hidden;
    }

    .best-card__image {
        max-width: 100%;
    }
}

@media (max-width: 992px) {

    .container {
        max-width: 760px;
    }

    .tabs-content {
        background-size: 200px;
    }

    .card_bottom {
        background-size: contain;
        background-position: center right 0;
    }

    .card__text {
        max-width: 300px;
    }

    .card-wrap {
        flex-wrap: wrap-reverse;
    }

    .best-card {
        margin: auto;
    }

    .card-block {
        flex-basis: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {

    .container {
        width: 90%;
    }

    .tabs-content {
        background-size: 180px;
        background-position: bottom right 50px;
    }

    .card_bottom {
        background-image: none;
    }

    .section__card {
        margin-right: 0;
        flex-basis: 100%;
    }

    .card__text {
        max-width: 100%;
    }
}

@media (max-width: 576px) {

    .container {
        width: 95%;
    }

    .nav {
        display: none;
    }

    .tabs-menu__item {
        font-size: 12px;
    }

    .tabs-logo {
        display: none;
    }

    .tabs-content__title {
        font-size: 24px;
    }

    .tabs-content__text {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .tabs-content {
        background-image: none;
    }

    .section-title {
        font-size: 20px;
    }

    .form__input {
        margin-bottom: 15px;
    }

    .row {
        flex-wrap: wrap;
    }

    .col-50 {
        flex-basis: 100%;
    }

    .button-block {
        justify-content: center;
    }

    .delivery__form {
        margin-top: 20px;
    }

}

@media (max-width: 445px) {

    .tabs-menu__item {
        font-size: 11px;
    }
    
    .card-wrap {
        flex-direction: column;
    }

    .footer__text {
        font-size: 12px;
    }
}
